@import "../../scss/mixins";
@import "../../scss/placehoders";

.artistdetail {
  @extend %viewLayout;

  & > .similar {
    @include results(50vh);
    @include scrollbar(#ddd);

    & > header {
      position: absolute;
      left: 1%;
    }
  }

  & > .detailed {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
  }
}
